<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>存本取息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta itemprop="name" content="我看中了这款产品，推荐你看看：存本取息">
    <meta itemprop="image" content="https://hjdata.webank.com/querydata/html/sharePage/share-deposit/img/head.png">
    <meta name="description" itemprop="description" content="存本取息">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div class="page-wrap" style="-webkit-transition: transform 0.5s ease; transition: transform 0.5s ease; transform: translate(0px, 0px);">
        <div class="page current">
            <section class="cover">
                <div class="thumbs"></div>
            </section>
        </div>

        <div id="long_page" class="page" style="-webkit-overflow-scrolling: touch; overflow: auto;" data-height="1646">
            <div class="page__inner" style="position: relative; height: 1646px;">
                <section id="app" class="plans" :style="{backgroundImage: 'url(' + banner + ')'}">
                    <div class="plan_area">
                        <h1><img src="img/title.png" alt="看看实现你的小确幸，需要存入多少钱" oncontextmenu="return false;"></h1>
                        <div class="plan_menu ui-px-b">
                            <dl>
                                <dt>你想实现</dt>
                                <dd v-for="scene in scenes" @click="onSelect(scene.interest)" :class="{'active': scene.interest === parseFloat(interest)}">
                                    <div class="dream ui-box-px">{{scene.text}}<i class="tag"></i></div>
                                </dd>
                            </dl>

                            <h2>每月预期获得的利息</h2>
                            <div class="input_area">
                                <input type="number" v-model="interest" @focus="onFocus(true)" @keydown="valid($event, interest)" @input="onInterestChange" :placeholder="interestTip">
                                <i class="icon-heart"></i>
                                <i v-show="interestResultReady" class="icon-correct"></i>
                            </div>
                            <p v-show="interestError" class="err">每月利息最低20.83元</p>

                            <h2>需要一次性存入的金额</h2>
                            <div class="input_area">
                                <input type="number" v-model='principal' @focus="onFocus(false)" @keydown="valid($event, principal)" @input="onPrincipalChange" :placeholder="principalTip">
                                <i class="icon-pig"></i>
                                <i v-show="principalResultReady" class="icon-correct"></i>
                            </div>
                            <p v-show="principalError" class="err">最低起存金额为5000.00元</p>
                            
                            <p class="remark">你也可以自定义你的储蓄计划，试试输入所需利息或存入金额</p>
                        </div>
                        <div class="prod_desc ui-px-b">
                            <h2>存本取息存款<br>存入流程</h2>
                            <ol>
                                <li>STEP.1<br>查看产品详情</li>
                                <li>STEP.2<br>转入所需金额</li>
                                <li>STEP.3<br>坐等每月利息</li>
                            </ol>
                            <img src="img/desc.png" alt="存本取息存款 存入流程" oncontextmenu="return false;">
                        </div>
                    </div>
                    <div class="logo">
                        <img src="img/logo.png" alt="微众银行——腾讯牵头发起设立的银行" oncontextmenu="return false;">
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="app_btn" style="display: none;">
        <button class="btn-orange" onclick="onClickGo()">去微众银行看看</button>
    </div>

    <script type="text/javascript" src="https://qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js"></script>
    <script src="app.bundle.js"></script>
    <script>
        var _mtac = {"performanceMonitor":1,"senseQuery":1};
        (function() {
            var mta = document.createElement("script");
            mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500153457");
            mta.setAttribute("cid", "500236933");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>
</body>

</html>
